$font_light: 300px;
$font_normal: 400px;
$font_medium: 500px;
$font_semibold: 600px;
$font_bold: 700px;
$font_black: 900px;

$text_red: #ff0000;
$text_white: #ffffff;
$text_light_gray: #f7f7fa;
$text_ligter: #bbbbbb;
$text_gray1: #d1d1d1;
$text_gray2: #f5f5f5;
$text_gray3: #7d7d7d;
$text_gray4: #f7f7f7;
$text_mid_gray: #dbdbdb;
$text_deep_gray: #b5b6c2;
$text_dark_gray: #787e8d;
$text_black1: #263238;
$text_mid_black: #474c5a;
$text_green: #50ce5c;
$text_deep_green: rgba(80, 206, 92, 0.1);
$text_pink: #c19090;
$text_light_pink: rgba(255, 0, 0, 0.1);

$text_light: 12px;
$text_sm: 14px;
$text_base: 16px;
$text_lg: 18px;
$text_xl: 20px;
$text_2xl: 24px;
$text_3xl: 30px;
$text_4xl: 36px;
$text_5xl: 48px;
$text_6xl: 60px;

$leading_3: 12px;
$leaing_4: 16px;
$leading_5: 20px;
$leading_6: 24px;
$leading_7: 28px;
$leading_8: 32px;
$leading_9: 36px;
$leading_10: 40px;
$leading_11: 44px;
$leading_12: 48px;
$leading_13: 52px;
$leading_14: 56px;
$leading_15: 60px;
