@use "../../utilitis/mixin" as set;
@use "../../utilitis/variable" as style;


.news{
   .container{
      h1{
         @include set.head1_base;
         margin-bottom: 1rem;;
      }
      .swiper{
         .swiper-wrapper{
            .swiper-slide{
               border-radius: 15px;
             
               margin:1rem;
               img{
                  object-fit:cover;
                   max-width: 100%
               }
               .trend_cont{
                  padding:.5rem;
                  button{
                     @include set.review_btn;
                     margin-bottom: 1rem;
                     margin-top: 1rem
                  }
                  h6{
                     @include set.head6_base;
                  }
                  p{
                     @include set.text_sm;
                  }
                  .date_time{
                     p{
                        @include set.text_xs;
                        
                     }
                  }
                  .trend_link{
                     @include set.blog_link;
                  }
               }
            };
         }
      }
   }
}

@media (min-width:992px) {
.news{
 .container{
   h1{
      @include set.head1_lg;
      margin-bottom: 1.5rem;;
   }
 }
}
   
}